* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
resources/* linguist-generated
Restaurant-management-system/resources/* linguist-vendored
CHANGELOG.md export-ignore
