#header{
    margin-top: 30px;
    padding: 20px;
    color: #fdfdfe;
    background: #1b1e21;
}

#setup{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}